<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Login </h2>
        <form action="login" method="post">
            <div class="text-field">
                <input type="text" name="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="text-field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Login">
            <div class="signup-link">
                Don't have account yet? <a href="/signup"> Signup</a>
            </div>
        </form>
    </div>
</body>
</html>